.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 100px;
}

input {
  font-size: 100px;
}

input[type="radio"] {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Chrome, Safari, Opera */
  transform: scale(2);
}

.submitbutton {
  margin-top: 10px;
  width: 350px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-left: 10px;
}

.display-preview-container {
  margin-top: 10px;
  border: 1px solid gray;
  font-size: 100px;
}

#counter-example {
  border: 1px solid black;
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 100px;
  cursor: pointer;
  width: 250px;
  display: flex;
}

#counter-display {
  width: 150px;
  display: flex;
  justify-content: center;
}

.plus-minus {
  border: 1px solid black;
  width: 100px;
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
